/*  -------------------------------*/
/* ------------HEADER -------------*/
/*---------------------------------*/


.header {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))),url(../public/images//matthew-henry-87142-unsplash.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url(../public/images//matthew-henry-87142-unsplash.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-attachment: fixed;
  position: relative;
}

.heroTextBox {
  position: absolute;
  width: 1140px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.logo {
  height: 100px;
  width: auto;
  float: left;
  margin-top: 20px;
}

/*MOBILE NAV */

.mobileNavIcon {
  float: right;
  margin-top: 30px;
  cursor: pointer;
  display: none;
}

/*BIG TABLES TO 1200PX: WIDTH SMALLER THAN THE 1140PX ROW */
@media only screen and (max-width: 1200px) {
  .heroTextBox {
    width: 100%;
    padding: 0 2%;
  }
}

@media only screen and (max-width: 767px) {
  .logo {
    height: 60px;
  }

  .heroTextBox {
    padding: 0 20px;
    margin-top: 30px;
  }

  .mobileNavIcon {
    display: block;
  }
}


